
.navbar {
  display: flex;
  flex-direction: column;
}

.navbar__content{
  width: var(--container-size);
}

.navbar__logo {
  width: 15rem;
} 

.navbar__top{

}

.navbar__middle{
  /* background-color: aqua; */
}

.navbar__bottom{
  background-color: var(--primary-color);
}

.navbar__contactInfo{
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.navbar__top,
.navbar__bottom,
.navbar__middle{
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar__content--top{
  display: flex;
  justify-content: flex-end;
  margin-top: var(--margin-Y-xs);
}

.navbar__social-network{
  align-items: center;
  /* background-color: var(--primary-color); */
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  padding: var(--padding-Y-xs) var(--padding-X-xs);
}

.navbar__social-network:last-child{
  margin-left: var(--margin-X-s);
}

.navbar__social-network-img{
  width: 30px;
  height: 30px;
  /* filter: invert(); */
  vertical-align: center;
}

.navbar__a--social-network{
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar__content--middle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: var(--margin-Y-s); */
  padding: var(--padding-Y-s) var(--padding-X-s);
}

.navbar__content--bottom {
  align-items: center;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  position: relative;
}

.navbar__order-options,
.navbar__menu-options {
  /* background-color: burlywood; */
  /* align-items: flex-start; */
  color: var(--white);
  display: flex;
  height: 100%;

}

.navbar__menu-option {
  padding: 0 var(--padding-X-xs);
  /* margin: 0 var(--margin-Y-xs); */
}

.navbar__menu-option:hover {
  background-color: var(--primary-color-subtle);
}

.navbar__order-option {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0 var(--padding-X-s);
  width: 10em;
}

.navbar__menu-option,
.navbar__order-option {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

hr{
  border: 1px solid var(--gray-subtle);
  width: 100%;
}

.navbar__a {
  /* background-color: aqua; */
}
.navbar__order-option:last-child {
  background-color: var(--green);
}

.navbar__search-bar {
  width: 25%;

}

.navbar__icon-wrapper{
  display: none;
}

.navbar__icon-wrapper{
  color: var(--white);
}


.navbar__a--wpp-icon{
  display: none;
}

/*BREAKPOINT*/
@media screen and (max-width: 992px) {
  .navbar__content--middle{
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  
  .navbar__search-bar{
    margin: var(--margin-Y-s) 0;
    width: 50%;
  }

  .navbar__icon-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0 var(--margin-X-s);
  }

  .navbar__bottom{
    justify-content: space-between;
  }
  
  .navbar__menu-options{
    display: none;
  }

  .navbar__contactInfo{
    align-items: center;
  }
}

/*BREAKPOINT*/


@media screen and (max-width: 540px) {

  .navbar__logo {
    width: 13rem;
  }
  
  /* .navbar__bottom{
    height: fit-content;
  }
  .navbar__content--bottom{
    flex-direction: column;
  }

  .navbar__content--bottom > *{
    width: 100%;
  } */

  .navbar__order-option{
    width: fit-content;
  }

  .navbar__a--wpp{
    display: none;
  }

  .navbar__a--wpp-icon{
    display: block;
    filter: invert();
  }
}