<div class="container">

    <aside class="side-menu">

        <div class="side-menu__category">  
            <div class="side-menu__title-container side-menu__title-container--red">
                <h2 class="side-menu__h2">{{'Apparel'}}</h2>
            </div>
            <p *ngFor="let item of apparel" class="side-menu__item">{{item}}</p>           
        </div>

        <div class="side-menu__category">
            <div class="side-menu__title-container side-menu__title-container--blue">
                <h2 class="side-menu__h2">{{'Marketing Products'}}</h2>
            </div>
            <p *ngFor="let item of marketingProducts" class="side-menu__item">{{item}}</p>    
        </div>

        <div class="side-menu__category ">
            <div class="side-menu__title-container side-menu__title-container--green">
                <h2 class="side-menu__h2">{{'Grand Format'}}</h2>
            </div>
            <p *ngFor="let item of grandFormat; let i = index" class="side-menu__item">{{item}}</p>       
        </div>
    </aside>


    <div class="sub-container">
        <div class="banner">
            <div class="banner__text">
                <!-- <p class="banner__p banner__p--blue">WE PRINT </p>
                <p class="banner__p banner__p--blue banner__p--indent"> CUSTOM</p>
                <p class="banner__p banner__p--red">T-SHIRTS</p> -->
            </div>
            <img src="assets/img/home/Banner_Home.jpg" alt="" class="banner_img">
        </div>

        <div class="general-products">
            <!--SECOND GRID, OTHER PRODUCTS-->
            <section class="other-products-section">
                <!-- <div class="other-products-section__title-container">
                    <img routerLink="/quote" src="/assets/img/home/DesignServiceHome.jpg" alt="banner" class="other-products-section__banner">
                </div> -->

                <div class="other-products">
                    <div class="product">
                        <img src="/assets/img/home/Business_Cards_1.jpg" alt="" class="product__image">
                        <div class="product__button">Let's start!</div>
                    </div>

                    <div routerLink="/cards" class="product">
                        <img src="/assets/img/home/Business_Cards_2.jpg" alt="" class="product__image">
                        <div class="product__button">Let's start!</div>
                    </div>
                </div>


                <div class="other-products">
                    <div class="product">
                        <img src="/assets/img/home/Signs.jpg" alt="" class="product__image">
                        <div class="product__button">Let's start!</div>
                    </div>

                    <div class="product">
                        <img src="/assets/img/home/Aluminum_Signs.jpg" alt="" class="product__image">
                        <div class="product__button">Let's start!</div>
                    </div>
                </div>

            </section>

    
        
            <section class="apparel-products-section">
    
                <!--GRID APPAREL PRODUCTS-->
                <h2 class="general-products__title">
                    Custom printing and embroidery
                </h2>
    
                <div class="apparel-products">
                    <div class="apparel-products__product apparel-products__product--1">
                        <img class="apparel-products__image apparel-products__image--1" src="/assets/img/home/apparel_products/Short_Sleeve.jpg" alt="" >
                        <h1 class="apparel-products__h1">Short Sleeve</h1>
                    </div>

                    <div class="apparel-products__product apparel-products__product--2">
                        <img class="apparel-products__image apparel-products__image--2" src="/assets/img/home/apparel_products/V_Neck.jpg" alt="" >
                        <h1 class="apparel-products__h1">V Neck</h1>
                    </div>

                    <div class="apparel-products__product apparel-products__product--3">
                        <img class="apparel-products__image apparel-products__image--3" src="/assets/img/home/apparel_products/Ladies.jpg" alt="" >
                        <h1 class="apparel-products__h1">Ladies</h1>
                    </div>

                    <div class="apparel-products__product apparel-products__product--4">
                        <img class="apparel-products__image apparel-products__image--4" src="/assets/img/home/apparel_products/With_Pocket.jpg" alt="" >
                        <h1 class="apparel-products__h1">With Pocket</h1>
                    </div>

                    <div class="apparel-products__product apparel-products__product--5">
                        <img class="apparel-products__image apparel-products__image--5" src="/assets/img/home/apparel_products/Youth.jpg" alt="" >
                        <h1 class="apparel-products__h1">Youth/Infant</h1>
                    </div>

                    <div class="apparel-products__product apparel-products__product--6">
                        <img class="apparel-products__image apparel-products__image--6" src="/assets/img/home/apparel_products/Performance.jpg" alt="" >
                        <h1 class="apparel-products__h1">Performance</h1>
                    </div>

                    <div class="apparel-products__product apparel-products__product--7">
                        <img class="apparel-products__image apparel-products__image--7" src="/assets/img/home/apparel_products/Caps.jpg" alt="" >
                        <h1 class="apparel-products__h1">Caps & Hats</h1>
                    </div>

                    <div class="apparel-products__product apparel-products__product--8">
                        <img class="apparel-products__image apparel-products__image--8" src="/assets/img/home/apparel_products/Polos.jpg" alt="" >
                        <h1 class="apparel-products__h1">Polos</h1>
                    </div>

                </div>
            
            </section>
            
            <div class="brands">
                <img src="/assets/img/home/marcas.jpg" alt="" class="brands__image">
            </div>
            
        </div>
        
    </div>
    
    
</div>