<div class="container">
    <div class="container__banner">
        <h1 class="container__title">
            Our Works
        </h1>
    </div>

    <div class="container__image-samples">
        <div class="container__sample container__sample--screenprinting">
            <h3 class="container__text">Screenprinting</h3>
            <button (click)="OnChangeGallery('Screenprinting')" class="container__button">View more</button>
        </div>

        <div class="container__sample container__sample--embroidery">
            <h3 class="container__text">Embroidery</h3>
            <button (click)="OnChangeGallery('Embroidery')" class="container__button">View more</button>
        </div>

        <div class="container__sample container__sample--others" >
            <h3 class="container__text">Business cards & Marketing products</h3>
            <button (click)="OnChangeGallery('Marketing Products')" class="container__button">View more</button>
        </div>

    </div>
    
    <div class="gallery-container">
        
        <div class="gallery-container__flex">
            <h1 class="container__title">{{gallerySelected}}</h1>
            <div class="gallery">
                <img *ngFor="let path of galleryPaths" [src]="path" alt="" class="gallery__image">
            </div>
        </div>
    
        <div *ngIf="gallerySelected==='Marketing Products'" class="gallery-container__flex">
            <h1 class="container__title">Grand Format</h1>
            <div  class="gallery">
                <img *ngFor="let path of galleryPaths2" [src]="path">
            </div>
        </div>
    
    </div>

    
</div>
