.footer{
    background-color: var(--gray-subtle);
    display: flex;
    justify-content: center;
    padding: var(--padding-Y-s) var(--padding-X-m);
}

.footer__section{
    display: flex;
    justify-content: space-between;
    width: var(--container-size);
}

.footer__element, .footer__list-options{
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}