<div class="container">

    <button class="container__button container__button--blue">Add new product</button>
    <div class="table-container">

        <table class="table">
            <tr class="table__row">
                <th class="table__header">ID</th>
                <th class="table__header">Brand</th>
                <th class="table__header">Cost</th>
                <th class="table__header">Style</th>
                <th class="table__header">Category</th>
                <th class="table__header">Process</th>
                <th class="table__header">Fabric</th>
                <th class="table__header">Description</th>
                <th class="table__header">Image</th>
                <th class="table__header">Edit</th>
                <th class="table__header">Delete</th>
            </tr>
    
            <tr class="table__row">
                <td class="table__description">a</td>
                <td class="table__description">f</td>
                <td class="table__description">s</td>
                <td class="table__description">df</td>
                <td class="table__description">df</td>
                <td class="table__description">f</td>
                <td class="table__description">f</td>
                <td class="table__description">ad</td>
                <td class="table__description">fa</td>
                <td class="table__description"><span class="material-icons-outlined">
                    edit
                    </span>
                </td>
                <td class="table__description"><span class="material-icons-outlined">
                    delete
                    </span>
                </td>
            </tr>
        </table>

    </div>
</div>