:host{
  display: flex;
  justify-content: center;
  /* height: 100%; */
}

.container{
  display: grid;
  grid-template-columns: 20% auto;
  padding: var(--padding-Y-s) var(--padding-X-s); 
  width: var(--container-size);

}

.banner {
  align-items: center;
  /* background-image: url(/assets/img/home/Banner_Home.jpg);
  background-position-y: -100px ;
  background-size: cover;
  background-repeat: no-repeat; */
  color: var(--white);
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--margin-Y-l);
}

.banner_img{

  width: 100%;
}

.banner__text {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: var(--margin-X-m);
}

.banner__p {
  font-family: "TTCommonsBold";
  font-weight: 500;
  text-shadow: 0 6px 3px var(--white);
  padding: 0;
}

.banner__p--blue {
  color: #1a3da2;
  font-size: var(--banner-fontsize-xl);
}


.banner__p--red {
  color: var(--secondary-color);
  font-size: 6.5em;
}


/*--------------------------------------------------*/

/*MENU BAR*/
.products__menu {
  align-items: center;
  background-color: var(--gray-subtle);
  display: flex;
  height: 3rem;
  justify-content: center;
  position: relative;
}

.products__options {
  align-items: center;
  display: flex;
  height: 100%;
}

.products__option {
  padding: 0 var(--padding-X-xs);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.products__option:hover {
  background-color: var(--menubar-hover);
}



/*-------------------------------------------------*/
/*GENERAL PRODUCTS*/
.general-products {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
 
}


.side-menu__category{
  background-color: var(--gray-super-light);
  border-bottom-left-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);
  margin-bottom: var(--margin-Y-m);
  width: 85%;
}

.side-menu__title-container{
  background-color: var(--primary-color);
  color: var(--white);
}

.side-menu__item, .side-menu__title-container{
  padding: 0.3em 1em;
  text-align: start;
}

/*--------------------------------------------------*/

/*APPAREL PRODUCTS*/
.apparel-products-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-X-s); 
  margin-bottom: var(--margin-Y-xl);
  width: 100%;

}

.general-products__title {
  text-align: center;
  margin-bottom: var(--margin-X-s);
}

.apparel-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 1em;
  row-gap: 1em;
  width: 100%;
}

.apparel-products__product {
  align-items: center;
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: column;

  max-width: 100%;
  min-height: 0;
  overflow: hidden;
  width: 100%;
}

.apparel-products__image {
  border-radius: var(--border-radius-l);
  height: 15rem;
  width: 100%;
  object-fit: cover;

}

.apparel-products__h1 {
  /* bottom: 1em; */
  color: var(--black);
  /* position: absolute; */
  text-align: center;
}

.apparel-products__image--1{
  object-position: top ;

}
.apparel-products__image--2{}
.apparel-products__image--3{}
.apparel-products__image--4{}
.apparel-products__image--5{}
.apparel-products__image--6{}
.apparel-products__image--7{}




/*--------------------------------------------------*/

/*OTHER PRODUCTS*/
.other-products-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.other-products-section__title-container{
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--white);
  cursor: pointer;
  display: flex;
  margin-bottom: var(--margin-Y-m);
  /* padding: var(--padding-Y-s); */
  width: 100%;
}


.other-products-section__banner{
  width: 100%;
}

.other-products {
  display: flex;
  justify-content: center;
}

.product {
  margin-bottom: var(--margin-Y-m);
  /* height: 16rem; */
  cursor: pointer;
  position: relative;
}

.product__button{
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-l);
  bottom: 10%;
  color: var(--white);
  display: flex;
  height: 25%;
  justify-content: center;
  left: 3%;
  padding: var(--padding-Y-xs) var(--padding-X-xs);
  position: absolute;
  width: 40%;
  transition: transform 0.3s ease-in-out;
}

.product__button:hover{
  transform: scale(1.02);
}
.product:first-child{
  margin-right: var(--margin-X-m);
}

.product__image {
  background-color: var(--gray-subtle);
  /* border-radius: var(--border-radius-l); */
  height: 100%;
  /* padding: var(--padding-Y-s) var(--padding-X-s); */
  width: 100%;
}

.product__title {
  color: var(--primary-color);
  text-align: center;
}

.brands{
  width: 100%;
}
.brands__image{
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .other-products {
    display: flex;
    /* flex-direction: column; */
  }
  
  .product:first-child{
    margin-right: 1em;
  }
  
}

@media screen and (max-width: 992px) {
  .side-menu{
    display: none;
  }
  .container{
    display: flex;
    flex-direction: column;
    padding:0; 
  }


  .apparel-products__image {
    border-radius: var(--border-radius-l);
    height: 9rem;
    width: 100%;
    object-fit: cover;
    object-position: top right;
  }

  .apparel-products__h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .apparel-products{
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
  }
}



@media screen and (max-width: 540px) {
  .products__options{
    display: none;
  }
  .other-products {
    display: flex;
    flex-direction: column;
  }

  .apparel-products{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
  }

  .product:first-child{
    margin-right: 0;
  }
  
  
}

@media screen and (max-width: 350px) {
  .apparel-products__h1 {
    font-size: medium;
  }

  .apparel-products{
    grid-template-columns: repeat(1, 10rem);
    grid-template-rows: repeat(8, auto);
    justify-content: center;
  }
 
}


