<div class="container">

    <div class="list-items">
        <h3 class="list-items__h2">{{'Apparel'}}</h3>
        <p *ngFor="let item of apparel" class="list-items__item">{{item}}</p>
    </div>

    <div class="list-items">
        <h3 class="list-items__h2">{{'Marketing Products'}}</h3>
        <p *ngFor="let item of marketingProducts" class="list-items__item">{{item}}</p>
            
    </div>

    <div class="list-items">
        <h3 class="list-items__h2">{{'Grand Format'}}</h3>
        <p *ngFor="let item of grandFormat; let i = index" class="list-items__item">{{item}}</p>
    </div>
</div>