<div class="container">

    <ul class="list-items">
        <li routerLink="" class="list-items__item"><a class="navbar__a">Home</a>
        <li  class="list-items__item"><a class="navbar__a">Shop</a></li>
        <li routerLink="/gallery" class="list-items__item"><a class="navbar__a">Gallery</a></li>
        <li routerLink="/about-us" class="list-items__item"><a class="navbar__a">About us</a></li>
        <li routerLink="/contact-us" class="list-items__item"><a class="navbar__a">Contact us</a></li>
    </ul>

</div>